@import "tailwindcss";

body {
  font-family: Arial;
  font-weight: 400;
}

/* admin button */
.admin-button {
  @apply hover:bg-green-800;
}

.input-box {
  @apply border-2 border-gray-300 rounded-lg px-4 py-2;
}

.custom-button {
  @apply rounded-lg px-4 py-2 transition duration-300 ease-in-out hover:scale-110 hover:text-white cursor-pointer;
}

.close-button {
  @apply text-3xl absolute top-3 right-3 rounded-lg px-2  transition duration-300 ease-in-out hover:scale-110 hover:text-white hover:bg-red-600 cursor-pointer;
}

/* Inside your globals.css or tailwind.css */
@layer utilities {
  .text-stroke-white {
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
  }
}
